<table class="border w-full font-semibold">

    <thead class="border">
        <th class="border p-3"></th>
        <th class="border p-3">Symbol</th>
        <th class="border p-3">Name</th>
        <th class="border p-3">Change</th>
    </thead>

    <tbody>

        <tr class="border" *ngFor="let coin of coinsList" >

            <td class="border p-3">
                <img class="w-16" src="{{ coin.image }}" alt="">
            </td>

            <td class="border p-3">{{ coin.symbol | uppercase }}</td>
            
            <td class="border p-3">{{ coin.name }}</td>
            
            <div *ngIf="coin.market_cap_change_percentage_24h > 0; then ifBlock else elseBlock"></div>

            <ng-template #ifBlock>
                <td class="border p-3 text-green-600">{{ coin.market_cap_change_percentage_24h }} %</td>
            </ng-template>
            <ng-template #elseBlock>
                <td class="border p-3 text-red-600">{{ coin.market_cap_change_percentage_24h | mod }} %</td>
            </ng-template>

        </tr>

    </tbody>

</table>
