ion-col {
    // background-color: #135d54;
    // border: solid 1px rgb(240, 240, 240);
    // color: #fff;
    // text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}